## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [156]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [157]:
# Your code here
sample_list_1 = random.sample(range(100), 80)


#Other way
#while len(sample_list_1) < 80:
    #num = random.randint(0, 100)
    #if num not in sample_list_1:
        #sample_list_1.append(num)

print(sample_list_1)

[94, 14, 86, 87, 64, 3, 23, 19, 46, 65, 24, 51, 57, 49, 74, 1, 96, 38, 13, 17, 32, 10, 70, 15, 71, 76, 79, 53, 36, 11, 88, 44, 92, 29, 63, 67, 22, 83, 75, 43, 33, 60, 27, 95, 45, 0, 37, 59, 28, 52, 66, 41, 40, 30, 93, 4, 47, 62, 16, 80, 48, 98, 56, 39, 12, 20, 54, 89, 31, 5, 9, 90, 8, 84, 73, 25, 6, 85, 2, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [158]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [159]:
# Your code here
sample_list_2 = []
for num in range(80):
    num = random.randint(0,100)
    sample_list_2.append(num)
    
print(sample_list_2)

[44, 37, 4, 34, 42, 59, 85, 67, 71, 99, 100, 1, 99, 5, 67, 15, 89, 20, 36, 55, 27, 59, 78, 41, 7, 86, 19, 52, 24, 55, 0, 80, 18, 75, 0, 95, 55, 86, 22, 86, 29, 1, 47, 34, 39, 65, 17, 0, 89, 62, 33, 58, 41, 22, 18, 89, 62, 47, 29, 44, 43, 75, 53, 29, 2, 5, 60, 98, 14, 90, 100, 54, 81, 37, 86, 74, 39, 46, 17, 98]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [160]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{0, 1, 2, 4, 5, 7, 14, 15, 17, 18, 19, 20, 22, 24, 27, 29, 33, 34, 36, 37, 39, 41, 42, 43, 44, 46, 47, 52, 53, 54, 55, 58, 59, 60, 62, 65, 67, 71, 74, 75, 78, 80, 81, 85, 86, 89, 90, 95, 98, 99, 100}
51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [161]:
# Your code here
set3 = set1 - set2

#Other way 
#set3 = set()
#for num in set1:
    #if num not in set2:
        #set3.add(num)
        
print(set3)

{3, 6, 8, 9, 10, 11, 12, 13, 16, 23, 25, 28, 30, 31, 32, 38, 40, 45, 48, 49, 51, 56, 57, 63, 64, 66, 70, 73, 76, 79, 83, 84, 87, 88, 92, 93, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [162]:
# Your code here
set4 = set2 - set1

#Other way
#set4 = set()
#for num in set2:
    #if num not in set1:
        #set4.add(num)
        
print(set4)

{34, 99, 100, 7, 42, 78, 81, 18, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [163]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 4, 5, 14, 15, 17, 19, 20, 22, 24, 27, 29, 33, 36, 37, 39, 41, 43, 44, 46, 47, 52, 53, 54, 55, 59, 60, 62, 65, 67, 71, 74, 75, 80, 85, 86, 89, 90, 95, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [164]:
# Your code here
print("The length of set1 is:",len(set1))
print("The length of set2 is:",len(set2))
print("The length of set3 is:",len(set3))
print("The length of set4 is:",len(set4))
print("The length of set5 is:",len(set5))

print("len(set2)< len(set1) because set2

The length of set1 is: 80
The length of set2 is: 51
The length of set3 is: 38
The length of set4 is: 9
The length of set5 is: 42

#### Create an empty set called `set6`.

In [165]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [166]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [167]:
# Your code here
if set1 == set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are not equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [168]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [169]:
# Your code here
agregate1= set3.union(set4, set5)
print(agregate1)
agregate2= set1.union(set2)
print(agregate2)

if agregate1 == agregate2:
    print("They are equal")
else:
    print("They are not equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98, 99, 100}
They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [170]:
# Your code here
print(set1.pop())

print(set1)

0
{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [171]:
# Your code here
print(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    #print(x)
    if x in set1:
        #print(x)
        set1.remove(x)
 
        
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 98}
{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 70, 73, 74, 75, 76, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}